{% extends "base.html" %}

{% block dialogs %}
{% load static %}

<!-- messages and news dialog -->
<q-dialog v-model="messages" full-width full-height @show="messagesShow()" @hide="messagesHide()">
      <q-card>
        <q-card-section>
          <div class="text-h6">Messages</div>
        </q-card-section>

        <q-card>
          <q-tabs
          v-model="tab"
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
        >
          <q-tab @click="twitterShow()" name="twitter" label="Twitter" ></q-tab>
          <q-tab name="news" label="News" ></q-tab>
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="twitter">
            <keep-alive>
              <div>
              <a  data-cards="hidden" data-height="800" data-width="500" data-tweet-limit="12" class="twitter-timeline" href="https://twitter.com/QuakesToday">Tweets by QuakesToday</a> 
              <a  data-cards="hidden" data-height="400" data-width="500" data-tweet-limit="4" class="twitter-timeline" href="https://twitter.com/AlertWildfire">Tweets by AlertWildfire</a> 
              </div>
            </keep-alive>  
          </q-tab-panel>
  
          <q-tab-panel name="news">
            <div class="text-h6">News</div>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
</q-dialog>


<!-- city information dialog -->
<q-dialog v-model="cityinfo" full-width full-height @show="cityShow()" @hide="cityHide()">
      <q-card>
        <q-card-section>
          <div class="text-h6">City information</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          Click/Tap on the backdrop.
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-teal">
            <q-btn flat label="OK" v-close-popup ></q-btn>
        </q-card-actions>
      </q-card>
</q-dialog>

{% endblock %}

{% block content %}
     {% load static %}
       <q-layout view="hHr lpR fFf">
            <q-header class="bg-grey-9 text-white" height-hint="98">
              <q-toolbar>
                <q-toolbar-title>
                    <q-btn push color="white" text-color="grey-9" :label="push_str"  @click="showHide"></q-btn>
                  <q-avatar>
                         <img src="{% static 'icons/logo.png' %}">
                  </q-avatar>
                  Kilburn Wizards
                </q-toolbar-title>
              </q-toolbar>

              <!--
              <q-tabs align="left">
                <q-route-tab to="/page1" label="Page One"> </q-route-tab>
                <q-route-tab to="/page2" label="Page Two"> </q-route-tab>
                <q-route-tab to="/page3" label="Page Three"></q-route-tab>
              </q-tabs>
                -->

            </q-header>

            <q-drawer show-if-above v-model="left" side="left" bordered>
              <!-- drawer content -->
              <q-list class="bg-grey-9 text-white" bordered class="rounded-borders">
                <q-expansion-item
                    switch-toggle-side
                    expand-separator
                    label="Past events">
                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders">
                <q-expansion-item
                    switch-toggle-side
                    expand-separator
                    icon="img:{% static 'icons/fire.png' %}"
                    label="Fire">
                    <q-card>
                    <q-card-section>
                        <q-btn outline color="red" @click="showFire()" :label="fireBtnStateStr"></q-btn>
                    </q-card-section>
                    </q-card>
                </q-expansion-item>
                </q-list>

                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders q-mt-md">
                <q-expansion-item
                    dense-toggle
                    switch-toggle-side
                    expand-separator
                    icon="img:{% static 'icons/water.png' %}"
                    label="Water"
                >
                    <q-card>
                    <q-card-section>
                        <q-btn outline color="indigo-9" @click="showWater()">Show Data</q-btn>
                    </q-card-section>
                    </q-card>
                </q-expansion-item>
                </q-list>
                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders q-mt-md">
                    <q-expansion-item
                        dense-toggle
                        switch-toggle-side
                        expand-separator
                        icon="img:{% static 'icons/wind.png' %}"
                        label="Wind">
                        <q-card>
                        <q-card-section>
                            <q-btn outline color="cyan-2" @click="showWind()">Show Data</q-btn>
                        </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-list>
                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders q-mt-md">
                    <q-expansion-item
                            dense-toggle
                            switch-toggle-side
                            expand-separator
                            icon="img:{% static 'icons/tree.png' %}"
                            label="Earth">
                            <q-card>
                            <q-card-section>
                                <q-btn outline color="brown-6" :label="earthBtnStateStr" @click="showEarth()"></q-btn>
                            </q-card-section>
                            </q-card>
                        </q-expansion-item>
                </q-list>
                </q-expansion-item>
              </q-list>


                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders">
                    <q-expansion-item
                        switch-toggle-side
                        expand-separator
                        label="Happening right now">
                        <q-card>
                            <q-card-section>
                                <q-btn outline color="black" label="show events" @click="getEvents()">
                                </q-btn>
                            </q-card-section>
                            <q-card-section>
                                <q-btn outline color="black" label="messages" @click="messages = true">
                                </q-btn>
                            </q-card-section>
                            <q-card-section>
                                <q-btn outline color="black" label="information about cities" @click="cityinfo = true">
                                </q-btn>
                           </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-list>

            </q-drawer>

            <q-page-container>
                <div id='map' class='map'></div>
            </q-page-container>

            <!-- <q-footer elevated class="bg-grey-8 text-white">
              <q-toolbar>
                <q-toolbar-title>
                    <q-btn push color="white" text-color="primary" :label="push_str"  @click="showHide"></q-btn>

                </q-toolbar-title>
              </q-toolbar>
            </q-footer> -->

          </q-layout>

{% endblock %}