{% extends "base.html" %}

{% block dialogs %}
{% load static %}

<!-- messages and news dialog -->
    <q-dialog v-model="messages" window-width="60" full-height @show="messagesShow()" @hide="messagesHide()">
      <q-card>
        <q-card-section>
          <div class="text-h6">Messages</div>
          <q-btn class="bg-grey-9 text-white" label="Close" v-close-popup ></q-btn>
        </q-card-section>

        <q-card>
          <q-tabs
          v-model="tab"
          class="text-grey"
          active-color="primary"
          indicator-color="primary"
        >
          <q-tab @click="twitterShow()" name="twitter" label="Twitter" ></q-tab>
          <q-tab @click="newsShow()" name="news" label="News" ></q-tab>
        </q-tabs>

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="twitter">
            <keep-alive>
              <div align="center">
                <p>
              <a hide_media="true" data-cards="hidden" data-height="800" data-width="500" data-tweet-limit="12" class="twitter-timeline" href="https://twitter.com/QuakesToday">Tweets by QuakesToday</a>
              </p>
              <p>
              <a hide_media="true" data-cards="hidden" data-height="400" data-width="500" data-tweet-limit="4" class="twitter-timeline" href="https://twitter.com/AlertWildfire">Tweets by AlertWildfire</a>
             </p>
            </div>
            </keep-alive>
          </q-tab-panel>

          <q-tab-panel name="news" id="toIns">
            <!-- toIns.js inserts here -->
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
</q-dialog>


<!-- city information dialog -->
<q-dialog v-model="cityinfo" full-width full-height @show="cityShow()" @hide="cityHide()">
      <q-card>
        <q-card-section>
          <div class="text-h6">Local information</div>
        </q-card-section>

        <autocomplete class="fixed-center" @submit="handleSubmit" :search="searchCities" placeholder="Search for your city" aria-label="Search for your city" style="width: 500px;"></autocomplete>
        
        <div class="q-pa-md">
        <q-table v-if="this.air_data.length > 0"
      title="Air quality"
      :data="air_data"
      :columns="columns"
      row-key="name"
      hide-bottom
      :rows-per-page-options="[15]">

      <template v-slot:body="props">
        <q-tr :props="props">

          <q-td key="name" :props="props">
            $[ props.row.name ]$
          </q-td>

          <q-td v-if="(props.row.name == 'PM2.5' || props.row.name == 'PM10')" key="data_value" :props="props">
            <q-badge v-if="(props.row.name == 'PM2.5' || props.row.name == 'PM10') && props.row.data_value < 50" color="green">
              $[ props.row.data_value ]$
            </q-badge>

            <q-badge v-if="(props.row.name == 'PM2.5' || props.row.name == 'PM10') && (props.row.data_value > 50 && props.row.data_value <= 100)" color="yellow">
              $[ props.row.data_value ]$
            </q-badge>

            <q-badge v-if="(props.row.name == 'PM2.5' || props.row.name == 'PM10') && props.row.data_value > 100" color="red">
              $[ props.row.data_value ]$
            </q-badge>
          </q-td>

          <q-td v-else key="data_value" :props="props">$[props.row.data_value]$</q-td>

        </q-tr>
      </template>

    </q-table>
  </div>


        <q-card-actions align="right" class="bg-white text-teal">
            <q-btn flat label="OK" v-close-popup ></q-btn>
        </q-card-actions>
      </q-card>
</q-dialog>

<q-dialog v-model="nearyouinfo" full-width full-height>
  <q-card>
      <q-card-section>
          <div class="text-h6">Natural events around you</div>
        </q-card-section>

        <div class="q-pa-md row items-start q-gutter-md">
        <q-card v-if="fire_info.length == 43"style="width: 100%; background-color: #92374D; color: white;">
          <q-card-section>
            &#128293; $[fire_info]$
          </q-card-section>
        </q-card>

        <q-card v-if="fire_info.length != 43"style="width: 100%; color: black;">
          <q-card-section>
            &#128293; $[fire_info]$
          </q-card-section>
        </q-card>

        <q-card v-if="conc_level <= 50" class="row justify-center items-center"style="width: 100%; background-color: #83B692; color: white;">

          <img src="{% static 'icons/happy.png' %}" style="width:75px; height: 75px; "/>

          <q-card-section>
           <p style="margin-bottom: 5px;"><b>Biggest Pollutant: </b> $[biggest_pollutant]$</p>
            <p style="margin-bottom: 5px;"><b>Concentration Level:</b> $[conc_level]$</p>
            <p style="margin-bottom: 5px;"><b>Pollution Category: </b> $[pollution_category]$</p>
          </q-card-section>
        </q-card>

        <q-card v-if="conc_level > 50 && conc_level <= 100" class="row justify-center items-center" style="width: 100%; background-color: #F4AC45; color: white;">

          <img src="{% static 'icons/neutral.png' %}" style="width:75px; height: 75px; "/>
          <q-card-section>
            <p style="margin-bottom: 5px;"><b>Biggest Pollutant: </b> $[biggest_pollutant]$</p>
            <p style="margin-bottom: 5px;"><b>Concentration Level:</b> $[conc_level]$</p>
            <p style="margin-bottom: 5px;"><b>Pollution Category: </b> $[pollution_category]$</p>
          </q-card-section>
        </q-card>

        <q-card v-if="conc_level > 100" class="row justify-center items-center" style="width: 100%; background-color: #FE5F55; color: white;">

          <img src="{% static 'icons/sad.png' %}" style="width:75px; height: 75px; "/>
          <q-card-section>
            <p style="margin-bottom: 5px;"><b>Biggest Pollutant: </b> $[biggest_pollutant]$</p>
            <p style="margin-bottom: 5px;"><b>Concentration Level:</b> $[conc_level]$</p>
            <p style="margin-bottom: 5px;"><b>Pollution Category: </b> $[pollution_category]$</p>
          </q-card-section>
        </q-card>
        </div>

      <q-card-actions class="absolute-bottom-right" align="right" class="bg-white text-teal">
            <q-btn flat label="OK" v-close-popup ></q-btn>
        </q-card-actions>

  </q-card>
</q-dialog>

{% endblock %}

{% block content %}
     {% load static %}
       <q-layout view="hHr lpR fFf">
            <q-header class="bg-grey-9 text-white" height-hint="98">
              <q-toolbar>
                <q-toolbar-title>
                    <q-btn push color="white" text-color="grey-9" :label="push_str"  @click="showHide"></q-btn>
                  <q-avatar>
                         <img src="{% static 'icons/logo.png' %}">
                  </q-avatar>
                  Kilburn Wizards
                </q-toolbar-title>
              </q-toolbar>
            </q-header>

            <q-drawer show-if-above v-model="left" side="left" bordered>
              <!-- drawer content -->
              <q-list class="bg-grey-9 text-white" bordered class="rounded-borders">
                <q-expansion-item
                    switch-toggle-side
                    expand-separator
                    label="Past events">
                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders">
                <q-expansion-item
                    switch-toggle-side
                    expand-separator
                    icon="img:{% static 'icons/fire.png' %}"
                    label="Fire">
                    <q-card>
                    <q-card-section>
                        <q-btn outline color="red" @click="showFire()" :label="fireBtnStateStr"></q-btn>
                    </q-card-section>
                    </q-card>
                </q-expansion-item>
                </q-list>

                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders q-mt-md">
                <q-expansion-item
                    dense-toggle
                    switch-toggle-side
                    expand-separator
                    icon="img:{% static 'icons/water.png' %}"
                    label="Water"
                >
                    <q-card>
                    <q-card-section>
                        <q-btn outline color="indigo-9" @click="showWater()">Show Data</q-btn>
                    </q-card-section>
                    </q-card>
                </q-expansion-item>
                </q-list>
                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders q-mt-md">
                    <q-expansion-item
                        dense-toggle
                        switch-toggle-side
                        expand-separator
                        icon="img:{% static 'icons/wind.png' %}"
                        label="Wind">
                        <q-card>
                        <q-card-section>
                            <q-btn outline color="cyan-2" @click="showWind()">Show Data</q-btn>
                        </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-list>
                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders q-mt-md">
                    <q-expansion-item
                            dense-toggle
                            switch-toggle-side
                            expand-separator
                            icon="img:{% static 'icons/tree.png' %}"
                            label="Earth">
                            <q-card>
                            <q-card-section>
                                <q-btn outline color="brown-6" :label="earthBtnStateStr" @click="showEarth()"></q-btn>
                            </q-card-section>
                            </q-card>
                        </q-expansion-item>
                </q-list>
                </q-expansion-item>
              </q-list>


                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders">
                    <q-expansion-item
                        switch-toggle-side
                        expand-separator
                        label="Happening right now">
                        <q-card>
                            <q-card-section>
                                <q-btn outline color="black" label="show events" @click="getEvents()">
                                </q-btn>
                            </q-card-section>
                            <q-card-section>
                                <q-btn outline color="black" label="messages" @click="messages = true">
                                </q-btn>
                            </q-card-section>
                            <q-card-section>
                                <q-btn outline color="black" label="information about cities" @click="cityinfo = true">
                                </q-btn>
                           </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-list>


                <q-list class="bg-grey-9 text-white" bordered class="rounded-borders">
                    <q-expansion-item
                        switch-toggle-side
                        expand-separator
                        label="Settings">
                        <q-card>
                            <q-card-section>
                                <q-btn outline color="black" label="show events near you" @click="nearYou()">
                                </q-btn>
                            </q-card-section>
                        </q-card>
                    </q-expansion-item>
                </q-list>


            </q-drawer>

            <q-page-container>
                <div id='map' class='map'></div>
            </q-page-container>

            <!-- <q-footer elevated class="bg-grey-8 text-white">
              <q-toolbar>
                <q-toolbar-title>
                    <q-btn push color="white" text-color="primary" :label="push_str"  @click="showHide"></q-btn>

                </q-toolbar-title>
              </q-toolbar>
            </q-footer> -->

          </q-layout>

{% endblock %}
